#col-sec1-2 img {
  max-width: 250px;
}

@media (min-width: 360px) {
  #col-sec1-2 div {
    padding: 20px;
  }
}

#col-sec1-1 div {
}

#col-sec1-1 img {
  max-width: 100%;
}

#col-sec2-1 img {
  max-width: 35%;
}

#left img {
  float: right;
  max-width: 100%;
}

#mid img {
  max-width: 50%;
}

#right img {
  max-width: 100%;
}

#sec3-usp-mobile img {
  margin-top: 5px;
  max-width: 80%;
  float: left;
}

#sec3-usp-mobile .text-left {
  width: 100%;
  height: auto;
}

#sec3-usp-mobile .col.align-self-center {
  max-width: 100%;
  padding: 5px;
}

@media (min-width: 576px) {
  #sec3-usp-mobile .text-right {
    margin-top: 5% !important;
  }
}

@media (min-width: 992px) {
  .col.align-self-center {
    padding-right: 10px!important;
    padding-left: 10px!important;
  }
}

#hinhanh img {
  max-width: 65%;
  display: block;
  margin: auto;
}

@media (min-width: 992px) {
  #text-player .mt-3.mb-3 {
    margin: 0!important;
    height: 100%;
  }
}

#sec5 img {
  max-width: 50%;
}

@media (min-width: 768px) {
  .hoailinh {
    margin-left: 10%!important;
  }
}

@media (min-width: 300px) {
  .hoailinh {
    margin-left: 25%;
  }
}

#usp-sec5 {
}

#usp-sec5 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.shape {
  position: absolute;
  margin-top: 4%;
}

